<div class="container mt-2 mb-4">
  <nav class="navbar mx-auto navbar-expand-lg rounded-0">
    <div class="container-fluid">
      <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="#6f42c1" class="bi bi-suit-club-fill" viewBox="0 0 16 16">
        <path d="M11.5 12.5a3.493 3.493 0 0 1-2.684-1.254 19.92 19.92 0 0 0 1.582 2.907c.231.35-.02.847-.438.847H6.04c-.419 0-.67-.497-.438-.847a19.919 19.919 0 0 0 1.582-2.907 3.5 3.5 0 1 1-2.538-5.743 3.5 3.5 0 1 1 6.708 0A3.5 3.5 0 1 1 11.5 12.5z" />
      </svg>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 pe-4">
            <li class="nav-item">
              <li><%= link_to 'My portfolio', my_portfolio_path, class: "nav-link text-purple" %></li>
            </li>
            <li class="nav-item">
              <%= link_to 'Profile', edit_user_registration_path, class: "nav-link text-purple" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-purple" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Session
              </a>

              <ul class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">

              <% if !user_signed_in? %>
                <li><%= link_to 'Sign in', new_user_session_path, class: "dropdown-item text-purple" %></li>
              <% end %>

              <% if user_signed_in? %>
                <li><%= link_to 'Sign out', destroy_user_session_path, class: "dropdown-item text-purple" %></li>
              <% end %>

              <% if !user_signed_in? %>
                <li><hr class="dropdown-divider"></li>
              <% end %>

              <% if !user_signed_in? %>
                <li><%= link_to 'Sign up', new_user_registration_path, class: "dropdown-item text-purple" %></li>
              <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>